.blur {
  display: flex;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100dvw;
  height: 100dvh;
  transition: all .7s ease-in-out;
  overflow: hidden;
}

.blur *::-webkit-scrollbar {
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  z-index: 102;
  background-color: #FFF;
  display: flex;
  width: 100%;
  max-width: 368px;
  height: 100dvh;
  flex: 1 0 0;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  transition: all .7s ease-in-out;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 12px;
  padding: 13.5px;
  border-radius: 80px;
  z-index: 103;
  box-sizing: border-box;
  max-height: 51px;
  box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.1);
}

.close > img {
  max-height: 24px;
  max-width: 24px;
}