.btn-search {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #fff;
  z-index: 2;
}

.btn-search img {
  text-align: center;
  font-size: 16px;
  color: #000;
  height: 180px;
  background-color: rgba(255, 255, 255, .65);
  border-radius: 1rem;
  padding: 0.2rem 0.2rem;
  margin: 0 auto;
  border: solid 0rem;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  border: solid transparent;
  border-width: 0 .4rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-search img:hover {
  border-color: #000;
}

@media (max-width: 767px) {
  .btn-search {
    right: 10px;
    bottom: 10px;
  }
  .btn-search img {
    border-radius: .4rem;
    padding: 0;
    height: 90px !important;
    width: 100px !important;
  }
}